<ion-grid>
    <ion-col>
        <h1>Datos personales</h1>
        <form class="form"  ngNativeValidate #formPersonal="ngForm" (ngSubmit)="onSubmit(formPersonal)">
            <mat-form-field appearance="outline" class="label positon">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="" required #names id="names" ngModel name="names">
                <mat-icon class="color" matSuffix>person</mat-icon>
                <mat-hint>Primer y segundo nombre</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="" required #lastNames id="lastNames" ngModel name="lastNames">
                <mat-icon class="color" matSuffix>person</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Tipo de documento</mat-label>
                <mat-select required #typeIdentification id="typeIdentification" ngModel name="typeIdentification" >
                    <mat-option value="CC">CC</mat-option>
                    <mat-option value="TI">TI</mat-option>
                    <mat-option value="CE">CE</mat-option>
                    <mat-option value="NIT">NIT</mat-option>
                </mat-select>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Numero de documento</mat-label>
                <input matInput placeholder="" required type="number" #numDocument id="numIdentification" ngModel name="numIdentification">
                <mat-icon class="color" matSuffix>contact_mail</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="" required type="address" #address id="address" ngModel name="address" >
                <mat-icon class="color" matSuffix>emoji_transportation</mat-icon>
                <mat-hint>Dirección o nomenclatura donde se encuentra ubicado el árbol</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Telefono de contacto</mat-label>
                <input matInput placeholder="" required type="number" #phoneNumber id="phoneNumber" ngModel name="phoneNumber">
                <mat-icon class="color" matSuffix>add_ic_call</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="label">
                <mat-label>Correo electronico</mat-label>
                <input matInput placeholder="eje@example.com" required #email id="email" ngModel name="email"  >
                <mat-icon class="color" matSuffix>attach_email</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <div class="ion-text-center">
                <ion-button color="success" type="submit" matStepperNext expand="block">
                    siguiente
                </ion-button> 
            </div>
             
        </form>
    </ion-col>
</ion-grid>
