<app-header titulo="Indicadores"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header> 
      <ion-card-subtitle style="text-align: center;">Número de <b><u>reportes</u></b> por <b><u>especie</u></b> </ion-card-subtitle>
      <ion-card-title style="text-align: center;">Cartagena de Indias</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas1></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header> 
      <ion-card-subtitle style="text-align: center;">Número de <b><u>reportes</u></b> por <b><u>barrio</u></b> </ion-card-subtitle>
      <ion-card-title style="text-align: center;">Cartagena de Indias</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas2></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
