<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-left: 20%;;">
      <div>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button style="margin-right: 2vw;" color="tertiary" defaultHref="/" text="Atrás" icon=""></ion-back-button>      
    </ion-buttons>
    <img src="../../../assets/LogoEbano.svg" class="logo animated fadeIn" alt="" >
  </ion-toolbar>
</ion-header>

 <ion-content>
  <div class="alingContent">
     <div style="text-align: center;">
      <ion-icon color="tertiary" name="person-circle-outline" ></ion-icon>
     </div>
     <div style="text-align: center;  font-style: italic;">
      <ion-text color="tertiary">
        <h2>Iniciar sesión</h2>
      </ion-text>
     </div>
     <hr>
     <div>
      <div>
        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
          <mat-label>Correo</mat-label>
          <input
              matInput
              type="email"
              inputmode="text"
              name="email"
              trim="blur"
              required="true"
              [(ngModel)]="username"
              />
              <mat-hint>correo con el que se encuentra registrado</mat-hint>
              <mat-error class="error-message" *ngIf="username=== ''">
                Debes ingresar el correo
              </mat-error>
        </mat-form-field>
       </div>
       <div>
        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
        <mat-label>Contraseña</mat-label>
            <input
                matInput
                type="password"
                inputmode="text"
                name="password"
                trim="blur"
                required="true"
                [(ngModel)]="password"
                />
                <mat-hint>contraseña registrada para el ususario</mat-hint>
                <mat-error class="error-message" *ngIf="password=== ''">
                  Debes ingresar la Contraseña
                </mat-error>
        </mat-form-field>
       </div>
     </div>
      <div style="text-align: center; margin-top: 6%;">
        <ion-button mode="ios"expand="block" type= "submit" fill="solid"color="success" (click)="validation()">Ingresar</ion-button>
      </div>
      <div style=" margin-top: 6%;">
        <hr>
        <div style="text-align: center; margin-top: 5%;">
          <ion-text color="tertiary">
            <h4>¿No tienes cuenta?</h4>
          </ion-text>
        </div>
        <div>
          <ion-button mode="ios"expand="block" type= "submit" fill="outline"color="tertiary" routerLink="/singup">Registrate</ion-button>
        </div>
        
      </div>  
  </div>
</ion-content>

