<app-header titulo="Reportar arbol enfermo"></app-header>

<ion-content  fullscreen>
  <ion-card>    
    <ion-card-header style="text-align: center;">
      <img src="../../../assets/imgArbol.png" />      
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-card-title><strong>Registre un Arbol enfermo</strong> </ion-card-title>
      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label color="Primary" position="floating">En que barrio está?</ion-label>
        <ion-input [(ngModel)]="barrio"></ion-input>
      </ion-item>
     <!--  <ion-item>
        <ion-label color="Primary" position="floating">Describa el estado del arbol</ion-label>
        
      </ion-item> -->
      <ion-item lines="none">
        <ion-label color="Primary">Especie del arbol</ion-label>
      </ion-item>
      <ion-item>
        <button (click)="presentModal()" class="edit-button buttons-rigth edit-especie">
          <div>
            <p>Selecionar</p>
          </div>
        </button>
      </ion-item>
      <ion-item>
        <ion-label color="Primary" position="floating">Descripción </ion-label>
        <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
      </ion-item>
      <!--Partes del arbol: Raiz, troco y ramas-->
      <ion-item lines="none">
        <ion-label color="Primary" >Añadir imagenes</ion-label>
        <ion-label color="Primary">(0/4)</ion-label>
      </ion-item>
      <div class="position-button">
        <button  (click)="getfotoArbol()" class="edit-button buttons-rigth">
          <div>
            <p><b>+</b></p>
          </div>
          <div >
            <p class="edit-text">Hojas</p>
          </div>
        </button>
        <button  (click)="getfotoArbol()" class="edit-button">
          <div>
            <p><b>+</b></p>
          </div>
          <div>
            <p class="edit-text">Raiz</p>
          </div>
        </button>
        <button  (click)="getfotoArbol()" class="edit-button buttons-rigth">
          <div>
            <p><b>+</b></p>
          </div>
          <div>
            <p class="edit-text">Tronco</p>
          </div>
        </button>
        <button  (click)="getfotoArbol()" class="edit-button">
          <div>
            <p><b>+</b></p>
          </div>
          <div>
            <p class="edit-text">Ramas</p>
          </div>
        </button>

      </div>
      
      <!-- Icons -->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content style="text-align: center;">
      <ion-button color="success" style="text-align: center;" class="my-button" shape="round" (click)="registrarArbol()">
        <ion-icon name="arrow-forward-circle"></ion-icon> 
        Reportar
      </ion-button>
    </ion-card-content>    
  </ion-card>
  
  <!-- fab placed to the bottom end -->
  <!--ion-fab   vertical="bottom" horizontal="center" (click)="registrarArbol()">
    <ion-fab-button color="success"> Reportar
      <ion-icon name="arrow-forward-circle"></ion-icon> 
    </ion-fab-button>
  </ion-fab-->   
  
</ion-content>
