ion-fab-button{
    width: 120px;
    height: 120px;
    font-size: 20px;
    text-align: center;
    orientation: auto;
    position: relative;
    left: 40%;
    transform: translateX(-60%);    
}

.my-button{
    width: 120px;
    height: 120px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    orientation: auto;
    position: relative;   
}