ion-fab-button{
    width: 120px;
    height: 120px;
    font-size: 20px;
    text-align: center;
    orientation: auto;
    position: relative;
    left: 40%;
    transform: translateX(-60%);    
}

.my-button{
    width: 120px;
    height: 120px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    orientation: auto;
    position: relative;   
}

.edit-button {
    width: 120px;
    height: 120px;
    background-color: rgb(199, 245, 205);
    border-radius: 5px;
    right: 30%;
    display: inline-block;
    margin-bottom: 5%
    /* box-shadow: 2px 2px 0 rgb(170, 169, 169) */;
}

.edit-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(130, 133, 145);
}

.buttons-rigth{
    position: relative;
    right: 10%;
    top: 4%;
    margin-bottom: 5%;
    margin-left: 20%;
}

.position-button{
    position: relative;
    right: 5%;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-bg{
    background-position: center;
    background-size: cover;
}

.edit-especie{
    width: 220px;
    height: 40px;
    background-color: rgb(184, 241, 189);
    box-shadow: 1px 1px 0 rgb(96, 128, 103);
    left: -9%;
    border-radius: 2px;
}

.cancel-icon{
    border-radius: 50%; 
    background-color: black; 
    color: white; 
    width: 30px; 
    height: 30px;    
}

.cancel-button{
    background: transparent;
    position: relative;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.fondo-transparente {
    background-color: rgb(255, 255, 255);
    /*IE*/
    filter: alpha(opacity=50);
    /*FireFox Opera*/
    opacity: 0.5;
    z-index: 3;
  }
  
  .fondo-normal {
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
 }

 ion-spinner {
    width: 100px;
    height: 100px;
    stroke: #444; 
    fill: #222;
 }
  