
<app-header titulo="Reportar arbol enfermo"></app-header>

<ion-content  fullscreen class="{{reportState.loading ? 'fondo-transparente': 'fondo-normal'}}">
  <div class="spin" *ngIf="reportState.loading">
    <ion-spinner name="lines" ></ion-spinner>
    <!-- <ion-spinner name="crescent" color="success"></ion-spinner> -->
  </div>
  <ion-card>    
    <ion-card-header style="text-align: center;">
      <img src="../../../assets/imgArbol.png" />      
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-card-title><strong>Registre un árbol</strong> </ion-card-title>
      <!-- Imágenes del árbol: Raiz, troco y ramas-->
      <ion-item lines="none">
        <ion-label color="Primary" >Añadir imagenes</ion-label>
        <ion-label color="Primary">({{this.imageSet.images.length}}/4)</ion-label>
      </ion-item>

      <div class="position-button">
        <button *ngIf="!framesLoaded.get('HOJAS').loaded" (click)="setArbolPicture('HOJAS')" class="edit-button buttons-rigth">
            <div><h1><b>+</b></h1></div>
            <div><p class="edit-text">Hojas</p></div>       
        </button>
        <div *ngIf="framesLoaded.get('HOJAS').loaded" 
        class="edit-button buttons-rigth image-bg" 
        [style.background-image]="'url('+framesLoaded.get('HOJAS').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('HOJAS')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>

        <button *ngIf="!framesLoaded.get('RAIZ').loaded" (click)="setArbolPicture('RAIZ')" class="edit-button">
          <div><h1><b>+</b></h1></div>
          <div><p class="edit-text">Raiz</p></div>
        </button>
        <div *ngIf="framesLoaded.get('RAIZ').loaded" 
        class="edit-button image-bg" 
        [style.background-image]="'url('+framesLoaded.get('RAIZ').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('RAIZ')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>

        <button *ngIf="!framesLoaded.get('TRONCO').loaded" (click)="setArbolPicture('TRONCO')" class="edit-button buttons-rigth">
          <div><h1><b>+</b></h1></div>
          <div><p class="edit-text">Tronco</p></div>
        </button>
        <div *ngIf="framesLoaded.get('TRONCO').loaded" 
        class="edit-button buttons-rigth image-bg" 
        [style.background-image]="'url('+framesLoaded.get('TRONCO').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('TRONCO')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>

        <button *ngIf="!framesLoaded.get('RAMAS').loaded" (click)="setArbolPicture('RAMAS')" class="edit-button">
          <div><h1><b>+</b></h1></div>
          <div><p class="edit-text">Ramas</p></div> 
        </button>
        <div *ngIf="framesLoaded.get('RAMAS').loaded" 
        class="edit-button image-bg" 
        [style.background-image]="'url('+framesLoaded.get('RAMAS').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('RAMAS')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>

        <!-- <button *ngIf="!framesLoaded.get('RAIZ').loaded" (click)="setArbolPicture('RAIZ')" class="edit-button">
          <div><h1><b>+</b></h1></div>
          <div><p class="edit-text">Flor</p></div>
        </button>
        <div *ngIf="framesLoaded.get('RAIZ').loaded" 
        class="edit-button image-bg" 
        [style.background-image]="'url('+framesLoaded.get('RAIZ').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('RAIZ')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>

        <button *ngIf="!framesLoaded.get('RAIZ').loaded" (click)="setArbolPicture('RAIZ')" class="edit-button">
          <div><h1><b>+</b></h1></div>
          <div><p class="edit-text">Fruto</p></div>
        </button>
        <div *ngIf="framesLoaded.get('RAIZ').loaded" 
        class="edit-button image-bg" 
        [style.background-image]="'url('+framesLoaded.get('RAIZ').path+')'">
          <button class="cancel-button" (click) = "unsetArbolPicture('RAIZ')">
            <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
          </button>
        </div>
 -->
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title><b>Describa mas el árbol</b> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label color="Primary" position="floating">¿En que barrio está?</ion-label>
        <ion-input [(ngModel)]="barrio"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label color="Primary" position="floating">¿Qué problema observa?</ion-label>
        <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
      </ion-item>
      <ion-item detail="true" (click)="presentModal()">
        <ion-label color="Primary">Especie del árbol</ion-label>
        <ion-text slot="end"><b><i>{{specieSelected==null? 'seleccione...' : specieSelected.name}}</i></b></ion-text>   
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button [disabled] = "reportState.loading"
style="z-index: 3; opacity: 1;" 
color= "success"
shape="round" 
(click)="registrarArbol()">
  Reportar
</ion-button>
