<app-header titulo="Consultar instructivos"></app-header>

<ion-content  padding>
        
    <ion-toolbar class="top" style="text-align: center;" >
        <ion-title  tyle="text-align: center;" >INSTRUCTIVOS</ion-title>
        <ion-button routerLink="/intructivo-intervenciones"fill="clear" color="success">
            Realizar intervención
        </ion-button>
    </ion-toolbar>
    <ion-toolbar class="top" style="text-align: center;">
        <ion-text   color="medium">Identificar arbol enfermo</ion-text>

    </ion-toolbar>
</ion-content>
