<app-header titulo="Visualizador de material pedagogico"></app-header>

<ion-content class="ion-padding">
  <div class="margings">
    <div>
      <ion-text style="text-align: center ;" color="tertiary">
        <h1>{{material?.title}}</h1>
      </ion-text>
    </div>
    <ion-card style="text-align: center;">
      <div *ngFor="let segment of material?.segments" style="margin-bottom: 9%;">
          <ng-container *ngIf="segment.file.url !=''">
            <img alt="Silhouette of mountains" src="{{segment.file.url}}" />
          </ng-container>
          <ng-container *ngIf="segment.text !=''" >
            <div class="aligText" >
              <ion-text>
                <h3>{{segment.text}}</h3>
              </ion-text>
            </div>
          </ng-container>
      </div>
  </ion-card>
  </div>
  

</ion-content>
