<ion-header>
  <ion-toolbar>
    <ion-title>Especies</ion-title>
    <ion-buttons slot="start">
      <ion-button color="success" (click)="dismiss()">Atras</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <div clas="ion-page">
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{nombreE}} </ion-card-title>
         </ion-card-header>
        <ion-card-content>
          {{familiaE}}
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 3</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 4</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 5</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 6</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 7</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 8</ion-card-title>
         </ion-card-header>
        <ion-card-content>
          Aqui hay contenido
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  
</ion-content>
