<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<ion-header>
  <ion-toolbar>
    <ion-title><h3><i>Especies</i></h3></ion-title>
    <ion-buttons slot="start">
      <ion-button color="success" (click)="salirSinInfo()">Atras</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
  <ion-button color="success" fill="clear" style="width: 100%;" (click)="salirDefault()">¿Desconozco la especie?</ion-button>
</ion-header>

<ion-content>
  <div clas="ion-page">
    <br>   
    <ion-list>
      <div *ngFor= "let family of speciesByFamily | keyvalue: unsorted">
        <ion-item >
          <h6 class="color-text" *ngIf= "family.key != 'Especies mas comunes'">Familia:</h6>
          <ion-title><h1>{{family.key}}</h1></ion-title>
        </ion-item>
        <ion-card *ngFor= "let specie of family.value" button (click)="salirConinfo(specie)">
          <ion-card-header>
            <ion-card-title class="text-title-style">{{specie.name}}</ion-card-title>
           </ion-card-header>
          <ion-card-content class="text-content-style">
            <i>{{specie.scientificName}}</i>
          </ion-card-content>
        </ion-card>
      </div>    
    </ion-list>
  </div>
  
</ion-content>
