<ion-header>
  <ion-toolbar>
    <ion-title><h3><i>Especies</i></h3></ion-title>
    <ion-buttons slot="start">
      <ion-button color="success" (click)="salirSinInfo()">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar
  [(ngModel)] = "query"
  [animated]="true"
  [placeholder] = "'Buscar especie'"
  (ionInput) = "filter($event)"></ion-searchbar>
  <ion-button color="success" fill="clear" style="width: 100%;" (click)="salirDefault()">¿Desconozco la especie?</ion-button>
</ion-header>

<ion-content>
  <div clas="ion-page">
    <br>   
    <ion-list>
      <div *ngFor= "let family of speciesByFamilyToShow | keyvalue: unsorted">
        <ion-item >
          <h6 class="color-text" *ngIf="family.key != commonSpeciesName">Familia:</h6>
          <ion-title size="small"> <h1>{{family.key}}</h1></ion-title>
        </ion-item>
        <ion-card *ngFor= "let specie of family.value" button (click)="salirConinfo(specie)">
          <ion-card-header>
            <ion-card-title class="text-title-style" >{{specie.name}}</ion-card-title>
           </ion-card-header>
          <ion-card-content class="text-content-style">
            <i>{{specie.scientificName}}</i>
          </ion-card-content>
        </ion-card>
      </div>    
    </ion-list>
  </div>
  
</ion-content>
