<app-header></app-header>
<ion-content>
     <ion-item mode="ios">
       <ion-label position="stacked">Nombre de usuario:</ion-label>
       <ion-input mode="ios" type="text"></ion-input>
     </ion-item>
     <ion-item mode="ios">
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input mode="ios" type="password"></ion-input>
     </ion-item>
     <div style="text-align: center;">
       <ion-button fill="outline"color="success" routerLink="/inicio-admin">ENTRAR</ion-button>
     </div>
     <div>
     </div>
     <img src="../../../assets/Tree_7.jpg"> 
</ion-content>
