<app-header></app-header>
 <ion-content  class="alineacionVertical">
     <ion-item mode="ios">
       <ion-label position="floating">Nombre de usuario:</ion-label>
       <ion-input [(ngModel)]="usuario" required="true" mode="ios" type="text"></ion-input>
     </ion-item>
     <ion-item mode="ios">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input [(ngModel)]="contrasena"  required="true" mode="ios" type="password"></ion-input>
     </ion-item>
     <ion-toolbar padding class="topB">
      <div style="text-align: center;">
        <ion-button mode="ios"expand="block" type= "submit" fill="outline"color="success" (click)="validacion()">ENTRAR</ion-button>
      </div> 
     </ion-toolbar> 
</ion-content>

