
<button *ngIf="!imageData.loaded" class="{{this.infoMessage && this.infoMessage !== '' ? 'div-load-with-info' : 'div-load' }} ">
    <ng-container *ngIf="this.infoMessage && this.infoMessage !== ''">
        <div [id]="'infoButton'+name" class="info-button">
            <ion-icon class="info-icon" name="information-circle" ios="information-circle" ></ion-icon>
        </div>
        <ion-popover [trigger]="'infoButton'+name" triggerAction="click">
            <ng-template>
                <ion-content class="ion-padding">{{this.infoMessage}}</ion-content>
            </ng-template>
        </ion-popover>
    </ng-container>
    <div style="width: 50%;" (click)="setImage()"><h1><b>+</b></h1></div>
    <div style="width: 100%;" (click)="setImage()"><p class="edit-text">{{name}}</p></div> 
</button>
<div *ngIf="imageData.loaded" 
    class="image-bg" 
    [style.background-image]="'url('+imageData.base64+')'">
    <button class="cancel-button" (click)="removeImage()">
        <ion-icon class="cancel-icon" name="close-outline" ></ion-icon>
    </button>
</div>
