/* ::ng-deep .modal-wrapper{
    height: 95% !important;
    width: 90% !important;
} */

.text-content-style{
    /* color: rgb(34, 129, 2); */
    color: rgb(97, 109, 117);
    font-size: 20px;
}

.text-title-style{
    /* color: rgb(109, 124, 134); */
    color: rgb(34, 129, 2);
}

.color-text{
    color: rgb(173, 173, 172);
}
