<ion-header>
  <ion-toolbar color="primary">
    <ion-title><h2><i>Especies</i></h2></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="salirSinInfo()">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar
  [(ngModel)] = "query"
  [animated]="true"
  [placeholder] = "'Buscar especie'"
  (ionInput) = "filter($event)"></ion-searchbar>
  <ion-button color="secondary" fill="clear" style="width: 100%;" (click)="salirDefault()">¿Desconozco la especie?</ion-button>
</ion-header>

<ion-content>
  <div clas="ion-page">
    <br>   
    <ion-list>
      <div *ngFor= "let family of speciesByFamilyToShow | keyvalue: unsorted">
        <ion-item >
          <h5 class="color-text" *ngIf="family.key !== commonSpeciesName">Familia:</h5>
          <ion-title size="small"> <h2>{{family.key}}</h2></ion-title>
        </ion-item>
        <ion-item *ngFor= "let specie of family.value" button (click)="salirConinfo(specie)">
          <ion-label class="text-title-style">
            {{specie.name}}
            <br />
            <ion-badge color="primary"><i>{{specie.scientificName}}</i></ion-badge>
            <ion-badge color="secondary"><i>{{specie.genre}}</i></ion-badge>
            <ion-badge color="tertiary">{{conservationStatusKeyValue[specie.conservationStatus]}}</ion-badge>
          </ion-label>
          
        </ion-item>
      </div>    
    </ion-list>
  </div>
  
</ion-content>
