<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-left: 2vw;">
      <ion-menu-button color="tertiary" slot="start" type="button" menu="primerMenu" mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button style="margin-right: 2vw;" color="tertiary" defaultHref="/" text="Atrás" icon=""></ion-back-button>      
    </ion-buttons>
    <img src="../../../assets/LogoEbano.svg" class="logo animated fadeIn" alt="" >
  </ion-toolbar>
</ion-header>