.centrado{
    text-align: center;
}

ion-slides{
    height: 100%;
}

ion-slide{
    text-align: left;    
}

.slide-1{
    height: 100%;
}

.slide-2{
    height: 100%;
}

.slide-3{
    height: 100%;
}

.logo{
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-height: 50vh;
}

ion-button{
    margin-bottom: 5%;
}

ion-card-title{
    font-size: medium;
    color: var(--ion-color-tertiary);
}