<ion-app>
    <app-header></app-header>
    <ion-content fullscream>
        <swiper pager="true" [pagination]="true">
            <ng-template swiperSlide class="slide-1">
                    <ion-card>
                        <img src = "../../../assets/celular1.jpg">
                        <ion-card-header>
                            <ion-card-title>¿VES UN PROBLEMA EN EL ÁRBOL?</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <div>Captura fotos del problema que observas</div>
                            <ion-button color="primary"  routerLink="/report">Repórtalo</ion-button> 
                        </ion-card-content>
                        <div></div>             
                    </ion-card>
            </ng-template>
            <ng-template swiperSlide>
                <ion-card>
                    <img src= "../../../assets/Arbol-enfermo1.jpg">
                    <ion-card-header>
                        <ion-card-title>APRENDE SOBRE AFECCIONES EN LOS ÁRBOLES</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div>Aprende a indetificar las señales</div>
                        <ion-button color="primary"  routerLink="/listMaterial">Aprende</ion-button>
                    </ion-card-content>                    
                </ion-card>
            </ng-template>
            <ng-template swiperSlide class="slide-2">
                <ion-card>
                    <img src="../../../assets/Salvando arboles.png">
                    <ion-card-header>
                        <ion-card-title>INDICADORES DE ÁRBOLES AFECTADOS</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div>Información estadística sobre reportes</div>
                        <ion-button color="primary"  routerLink="/reportStatistics">Consulta</ion-button>
                    </ion-card-content>
                </ion-card>
            </ng-template>
            <ng-template swiperSlide>
                <ion-card>
                    <img src = "../../../assets/mapa.png">
                    <ion-card-header>
                        <ion-card-title>MAPA DE REPORTES REALIZADOS</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div>Visualiza el mapa con los reportes geolocalizados</div>
                        <ion-button color="primary"  routerLink="/reportsMap">Consulta</ion-button>
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </swiper>
    </ion-content>
</ion-app>

