<ion-menu side="start" menuId="primerMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title  color ="light" size="large" class="centrado">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list >
      <ion-menu-toggle>
        <div  *ngIf="getUserTipo() == 'ADMIN'; else bloqueElse">
          <ion-item routerLink="/inicio-admin">
            <ion-icon slot="start" src="../../../assets/energia.svg"></ion-icon>
            <ion-label>Pantalla principal</ion-label>
          </ion-item>
        </div>
        <ng-template #bloqueElse>
          <ion-item routerLink="/inicio">
            <ion-icon slot="start" src="../../../assets/energia.svg"></ion-icon>
            <ion-label>Pantalla principal</ion-label>
          </ion-item>
        </ng-template> 
        <ion-item routerLink='{{reportarArbol.redirectTo}}'>
          <ion-icon slot="start"  src="{{reportarArbol.icon}}"></ion-icon>
          <ion-label >{{reportarArbol.name}}</ion-label>        
        </ion-item>
        <!--ion-item routerLink='{{reportarIntervencion.redirectTo}}'>
          <ion-icon slot= "start" src="{{reportarIntervencion.icon}}"></ion-icon>
          <ion-label>{{reportarIntervencion.name}}</ion-label>
        </ion-item-->
        <ion-item routerLink='{{consultarIndicadores.redirectTo}}'>
          <ion-icon slot="start" src="{{consultarIndicadores.icon}}"></ion-icon>
          <ion-label>{{consultarIndicadores.name}}</ion-label>
        </ion-item>
        <ion-item routerLink= '{{consultarInstructivoIdentificacion.redirectTo}}'>
          <ion-icon slot="start" src="{{consultarInstructivoIdentificacion.icon}}"></ion-icon>
          <ion-label>{{consultarInstructivoIdentificacion.name}}</ion-label>
        </ion-item>
        <ion-item routerLink= '{{consultarInstructivoIntervencion.redirectTo}}'>
          <ion-icon slot="start" src="{{consultarInstructivoIntervencion.icon}}"></ion-icon>
          <ion-label>{{consultarInstructivoIntervencion.name}}</ion-label>
        </ion-item>
        <div *ngIf="getUserTipo() == 'ADMIN'">
          <ion-item routerLink= '{{listaIntervenciones.redirectTo}}'>
            <ion-icon slot="start" src="{{listaIntervenciones.icon}}"></ion-icon>
            <ion-label>{{listaIntervenciones.name}}</ion-label>
          </ion-item>
        </div>
        
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>