<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/">
      <ion-back-button color="success" (click)="dismiss()"></ion-back-button>
    </ion-buttons> 
    <img src="../../../assets/Logo.svg" class="logo animated fadeIn" alt="" >
    <!--ion-title><h1>Arbol</h1></ion-title-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="{{intervencion.imgURL}}" alt="" srcset="">    
    </ion-card-header>
    <ion-card-content>{{intervencion.descripcion}}</ion-card-content>
    <ion-card-content>
      Estado: {{intervencion.estado}}    
    </ion-card-content>   
  </ion-card>  
</ion-content>
