<app-header titulo="Detalles del reporte"></app-header>

<ion-content>
  <swiper mode="ios" pager="true" [slidesPerView]="1" [scrollbar]="{ draggable: true }"
  [spaceBetween]="50" [pagination]="{ clickable: true }">
    <ng-template swiperSlide *ngFor="let reportedSignSymptom of report?.reportedTree?.healthStatus?.reportedSignSymptoms">
      <ion-card>
        <ion-card-header>
          <img src="{{reportedSignSymptom?.imageSet?.images[0]?.url}}" alt="" srcset=""> 
          <h4><i>{{reportedSignSymptom?.imageSet?.images[0]?.name}}</i> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-label style="display: block;"><b><u>Signo o síntoma: </u></b>{{reportedSignSymptom?.signSymptom?.description}}</ion-label>
        </ion-card-content>
      </ion-card>          
    </ng-template>               
  </swiper>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{report?.reportedTree?.location?.neighborhood}}</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      <ion-label style="display: block;"><b><u>Ubicación:</u></b>  lat: {{report?.reportedTree?.location?.latitude}}, lon: {{report?.reportedTree?.location?.longitude}}</ion-label>
      <ion-label style="display: block;"><b><u>Especie:</u></b> {{report?.reportedTree?.specie?.name}}</ion-label>      
      <ion-label style="display: block;"><b><u>Altura:</u></b> {{report?.reportedTree?.height}}</ion-label>
      <ion-label style="display: block;"><b><u>Diámetro de la copa:</u></b> {{report?.reportedTree?.cupDiameter}}</ion-label>
      <ion-label style="display: block;"><b><u>Diámetro del tronco:</u></b> {{report?.reportedTree?.dch}}</ion-label>
      <ion-label style="display: block;"><b><u>Bifurcaciones:</u></b> {{report?.reportedTree?.numForks}}</ion-label>
      <ion-label style="display: block;"><b><u>Posibles afecciones:</u></b>
        <div *ngFor="let condition of report?.reportedTree?.healthStatus?.diagnosis?.conditions">
          {{condition.commonName !== '' ? condition.commonName+", " : condition.scientificName+", "}}
        </div>
      </ion-label>
    </ion-card-content>  
    
  </ion-card>
</ion-content>
