
  <ion-menu side="start" menuId="primerMenu" contentId="main" type="push">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title  color ="tertiary" size="large" class="centrado">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle menu="primerMenu" >
      <ion-list >
          <ion-item routerLink="/inicio">
            <ion-icon color="tertiary" slot="start" src="../../../assets/energia.svg"></ion-icon>
            <ion-label color="tertiary">Inicio</ion-label>
          </ion-item>
          <ion-item routerLink= '{{consultarInstructivoIdentificacion.redirectTo}}'>
            <ion-icon color="tertiary" slot="start" src="{{consultarInstructivoIdentificacion.icon}}"></ion-icon>
            <ion-label color="tertiary">{{consultarInstructivoIdentificacion.name}}</ion-label>
          </ion-item>
          <ion-item *ngIf="userService?.permissions?.has('report.create')" routerLink='{{reportarArbol.redirectTo}}'>
            <ion-icon color="tertiary" slot="start"  src="{{reportarArbol.icon}}"></ion-icon>
            <ion-label color="tertiary">{{reportarArbol.name}}</ion-label>        
          </ion-item>
       
          <ion-item routerLink='{{consultarIndicadores.redirectTo}}'>
            <ion-icon color="tertiary" slot="start" src="{{consultarIndicadores.icon}}"></ion-icon>
            <ion-label color="tertiary">{{consultarIndicadores.name}}</ion-label>
          </ion-item>
  
          <ion-item routerLink='{{listaArbolesRegistrados.redirectTo}}'>
            <ion-icon color="tertiary" slot="start" src="{{listaArbolesRegistrados.icon}}"></ion-icon>
            <ion-label color="tertiary">{{listaArbolesRegistrados.name}}</ion-label>
          </ion-item>
  
          <ion-item routerLink='{{verMapa.redirectTo}}'>
            <ion-icon color="tertiary" slot="start" src="{{verMapa.icon}}"></ion-icon>
            <ion-label color="tertiary">{{verMapa.name}}</ion-label>
          </ion-item> 
          
          <div style="margin-top: 40%;">
            <div class="alingUserInfo">
              <div>
                <ion-icon color="tertiary" name="person-circle-outline"></ion-icon>
              </div>
              <div class="alingUser">
                <div>
                  <ion-text color="tertiary"><b>{{userService?.user?.firstName}} {{userService?.user?.lastName}}</b></ion-text>
                </div>
                <div>
                  <ion-text color="tertiary">{{userService?.user?.role?.name}}</ion-text>
                </div>
              </div>
            </div>
            <div>
              <ion-button mode="ios" expand="block"  fill="outline" color="danger" (click)="logout()">Salir</ion-button>
            </div>
          </div>
      </ion-list>
    </ion-menu-toggle>
    </ion-content>
  </ion-menu>