<form  ngNativeValidate #form="ngForm" (ngSubmit)="onNext(form)">
    <ion-grid>
        <ion-row class="center ion-justify-content-center ion-text-center">
            <ion-col size="12" size-sm class="single">
                <ion-list  class="round" style="height: fit-content;">
                    <h1>Datos de la especie</h1>
                    
                    
                        <mat-form-field appearance="outline" style="width: -webkit-fill-available;" (click)="presentModal(form)">
                            <mat-label>Especie</mat-label>
                            <input matInput placeholder="Ej. Mango" trim="blur" ngModel name="commonName" required="true">
                            <mat-icon class="icon-color" matSuffix>expand_more</mat-icon>
                            <mat-hint [ngStyle]="{'color': styleExp}">{{hintSpeciesText}} <mat-icon matSuffix color="success">{{iconSpeciesText}}</mat-icon> </mat-hint>
                            <mat-error class="error-message" *ngIf="form.form.get('commonName')?.hasError('required')">
                                Selecciona una especie de la lista
                            </mat-error>
                        </mat-form-field>                        
                    
                    
                    <br>
                    <br>
                                       
                        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
                            <mat-label>Diámetro del tronco (cm)</mat-label>
                            <input
                                matInput
                                type="tel"
                                digitOnly
                                inputmode="numeric"
                                pattern="([0-9]*[.])?[0-9]+"
                                ngModel 
                                name="trunkDiameter"
                                trim="blur"
                                />
                                <mat-icon class="icon-color" matSuffix>straighten</mat-icon>
                                <mat-hint>Diámetro a la altura del pecho</mat-hint>
                                <mat-error class="error-message" *ngIf="form.form.get('trunkDiameter')?.hasError('pattern') 
                                && !form.form.get('trunkDiameter')?.hasError('required')">
                                Verifica que el valor esté bien escrito</mat-error>
                                <mat-error class="error-message" *ngIf="form.form.get('trunkDiameter')?.hasError('required')">
                                Debes indicar un diámetro</mat-error>
                        </mat-form-field>                     
                    
                    <br>
                    <br>
                                           
                        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
                            <mat-label>Diámetro de la copa (m)</mat-label>
                            <input
                                matInput
                                type="tel"
                                digitOnly
                                inputmode="numeric" 
                                ngModel
                                pattern="([0-9]*[.])?[0-9]+"
                                name="topDiameter"
                                trim="blur"
                                />
                                <mat-icon class="icon-color" matSuffix>straighten</mat-icon>
                                <mat-hint>Diámetro estimado de la copa</mat-hint>
                                <mat-error class="error-message" *ngIf="form.form.get('topDiameter')?.hasError('pattern') 
                                && !form.form.get('topDiameter')?.hasError('required')">
                                Verifica que el valor esté bien escrito</mat-error>
                                <mat-error class="error-message" *ngIf="form.form.get('topDiameter')?.hasError('required')">
                                Debes indicar un diámetro</mat-error>
                        </mat-form-field>                     
                    
                    <br>
                    <br>
                                      
                        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
                            <mat-label>Altura (m)</mat-label>
                            <input
                                matInput
                                type="tel"
                                digitOnly
                                pattern="([0-9]*[.])?[0-9]+"
                                inputmode="numeric" 
                                ngModel 
                                name="height"
                                trim="blur"
                                />
                                <mat-icon class="icon-color" matSuffix>straighten</mat-icon>
                                <mat-hint>Altura estimada del árbol</mat-hint>
                                <mat-error class="error-message" *ngIf="form.form.get('height')?.hasError('pattern') 
                                && !form.form.get('height')?.hasError('required')">
                                Verifica que el valor esté bien escrito</mat-error>
                                <mat-error class="error-message" *ngIf="form.form.get('height')?.hasError('required')">
                                Debes indicar la altura del árbol</mat-error>
                        </mat-form-field>                     
                    
                    <br>
                    <br>
                                    
                        <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
                            <mat-label>Bifurcaciones</mat-label>
                            <input
                                matInput
                                type="tel"
                                digitOnly
                                pattern="\d*"
                                inputmode="numeric" 
                                ngModel 
                                min="0" step="1"
                                name="numBranchs"
                                trim="blur"
                                />
                                <mat-icon class="icon-color" matSuffix>device_hub</mat-icon>
                                <mat-hint>Número de bifurcaciones</mat-hint>
                                <mat-error class="error-message" *ngIf="form.form.get('numBranchs')?.hasError('pattern') 
                                && !form.form.get('numBranchs')?.hasError('required')">
                                Solo números enteros</mat-error>
                                <mat-error class="error-message" *ngIf="form.form.get('numBranchs')?.hasError('required')">
                                Debes indicar el número de bifurcaciones</mat-error>
                        </mat-form-field>                     
                    
                    <br>
                    <br>
                    <label id="example-radio-group-label">Hábito de crecimiento</label>
                    
                        <mat-radio-group class="example-radio-group"
                            style="width: 100%; padding: 0px" [color]="color" [value]="1" ngModel name="growthHabit" required="true">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-around ion-nowrap">
                            <mat-radio-button class="radio-button" [value]="1">
                                <ion-col size="12"> Árbol </ion-col>
                            </mat-radio-button>
                            <mat-radio-button class="radio-button" [value]="2">
                                <ion-col size="12"> Arbusto </ion-col>
                            </mat-radio-button>
                            </ion-row>
                        </ion-grid>
                        <mat-error class="error-message" *ngIf="form.form.get('growthHabit')?.hasError('required')">
                            <h5>Selecciona una opción</h5>
                        </mat-error>
                        </mat-radio-group> 
                    
                    <br>
                    <br>
                    <label id="example-radio-group-label">Origen de la especie</label>  
                                                              
                        <mat-radio-group class="example-radio-group"
                        style="width: 100%; padding: 0px" [color]="color" [value]="1" ngModel name="source" required="true">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-around ion-nowrap">
                            <mat-radio-button class="radio-button" [value]="1">
                                <ion-col size="12"> Nativa </ion-col>
                            </mat-radio-button>
                            <mat-radio-button class="radio-button" [value]="2">
                                <ion-col size="12"> Introducida </ion-col>
                            </mat-radio-button>
                            </ion-row>
                        </ion-grid>
                        <mat-error class="error-message" *ngIf="form.form.get('source')?.hasError('required')">
                            <h5>Selecciona una opción</h5>
                        </mat-error>
                        </mat-radio-group>                       
                    
                    <br>
                </ion-list>               
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button
                    mode="ios"
                    color="primary"
                    fill="outline"
                    expand="block"
                    (click)="onPrevious(form)">
                        Atrás
                    </ion-button>
            </ion-col>
            <ion-col  size="6">
                    <ion-button
                    mode="ios"
                    color="primary"
                    (click)="onNext(form)"
                    expand="block">
                        Siguiente
                    </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
