<ion-content>

  <ion-list>  
    <ion-card *ngFor="let report of reportsLoaded" (click)="abrirModal(report)">
      <ion-item>
        <ion-label class="image" size="4">
          <img src="{{this.getImage(report?.reportedTree?.healthStatus?.reportedSignSymptoms)}}" alt="" >        
        </ion-label>
        <ion-grid>
            <ion-row>
              <ion-col size="12" >
                <h4><b>{{report?.reportedTree?.location?.neighborhood}}</b> </h4>
              </ion-col>
            </ion-row>
            <ion-row style="height: 40px;">
              <ion-col size="2">
                <div class="icon">
                  <ion-icon name="document-text-outline" slot="start"></ion-icon>
                </div>              
              </ion-col>
              <ion-col size="10">                  
                <p>{{report?.reportedTree?.healthStatus?.reportedSignSymptoms[0]?.signSymptom?.description}}</p>
              </ion-col>          
            </ion-row>
            <ion-row style="height: 40px;">
              <ion-col size="2">
                <div class="icon">
                  <ion-icon src="../../../assets/speciesIcon.svg" slot="start"></ion-icon>
                </div>              
              </ion-col>
              <ion-col size="10">
                <p><i>{{report?.reportedTree?.specie?.name}}</i></p>
              </ion-col>
            </ion-row>      
        </ion-grid>
      </ion-item>    
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>


